@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&family=Mountains+of+Christmas:wght@700&family=Rochester&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  /* font-family: 'Lexend Deca', sans-serif; */
  font-family: 'Mountains of Christmas', cursive;
  background-image: url(https://images.unsplash.com/photo-1457269449834-928af64c684d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* font-family: 'Rochester', cursive; */
}



main {
  display: grid;
  margin: 3em;
  grid-template-areas:
    "container   header header  header header   header   header"
    "luke1   luke23  luke21  luke12  luke17  luke6   luke20"
    "luke5   luke13  luke22  luke7   luke2   luke19  luke9"
    "luke10  jul     jul     jul     empty   luke8   luke15"
    "luke18  empty2  empty2  luke24  luke24  luke24  luke4"
    "luke16  luke3   luke11  luke24  luke24  luke24  luke14";
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px; */
}

i {
  height: 5vw;
}


div {
  text-align: center;
  height: 10vw;
  border: dotted green 2px;
  /* box-shadow: 1px 1px 1px black; */
}

#app {
  border: none;
}

p {
  /* margin-top: 3vw;
margin-bottom: 3vw; */
  font-size: 3vw;
}

/*! Fix so the number is in center! */


header {
  display: flex;
  justify-content: center;
  padding-top: 10vw;
}

header h1 {
  font-size: 8vw;
  color: rgb(179, 17, 17)
}

.content {
  background-image: none;
  background-color: rgb(74, 145, 85);
  transition: 3s ease;
  cursor: pointer;
}

.content:active {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 5%;
  height: 90%;
  width: 90%;
}

.content:active> {
  display: block;
}

*/ .empty {
  grid-area: empty;
  background-color: aqua;
}

.empty2 {
  grid-area: empty2;
  background-color: aqua;
}

.jul {
  grid-area: jul;
  background-color: rgb(255, 166, 0);
  font-family: 'Rochester', cursive;
}

.luke1 {
  grid-area: luke1;
}

.luke1:hover {
  background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80);
}

.luke2 {
  grid-area: luke2;
}

.luke2:hover {
  background-image: url(https://images.unsplash.com/photo-1579710758949-3ab36db30f1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)
}

.luke3 {
  grid-area: luke3;
}

.luke4 {
  grid-area: luke4;
}

.luke5 {
  grid-area: luke5;
}

.luke6 {
  grid-area: luke6;
}

.luke7 {
  grid-area: luke7;
}

.luke8 {
  grid-area: luke8;
}

.luke9 {
  grid-area: luke9;
}

div.luke10 {
  grid-area: luke10;
}

div.luke11 {
  grid-area: luke11;
}

div.luke12 {
  grid-area: luke12;
}

div.luke13 {
  grid-area: luke13;
}

div.luke14 {
  grid-area: luke14;
}

div.luke15 {
  grid-area: luke15;
}

div.luke16 {
  grid-area: luke16;
}

div.luke17 {
  grid-area: luke17;
}

div.luke18 {
  grid-area: luke18;
}

div.luke19 {
  grid-area: luke19;
}

div.luke20 {
  grid-area: luke20;
}

div.luke21 {
  grid-area: luke21;
}

div.luke22 {
  grid-area: luke22;
}

div.luke23 {
  grid-area: luke23;
}

div.luke24 {
  grid-area: luke24;
  font-size: 5vw;
  height: 21vw;
  background-color: rgb(255, 0, 0);
}

div.luke24 p {
  font-size: 6vw;
}

.julP {
  font-size: 5vw;
  text-align: center;
}